@charset "utf-8";
.skin-green.sidebar-mini .container .col-sm-6.col-md-2 .thumbnail.tile{ margin-top:20px;}
.skin-green.sidebar-mini .container .col-sm-6.col-md-2 .thumbnail.tile a .glyphicon {
	font-size: 64px;
	color: #FFF;
	margin-top: 20%;
	margin-left: 30%;

	
	
}
 .col-sm-6.col-md-2{
	 margin-top:50px;
	 }
.skin-green.sidebar-mini .container .col-sm-6.col-md-2 .thumbnail.tile a .badge {
	text-align: center !important;
    position: absolute;
    top: 50%;
    left: 70%;
    background: none;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .25);
	
}
.skin-green.sidebar-mini .container .col-sm-6.col-md-2 .thumbnail.tile a p {
	font-family: "Times New Roman", Times, serif;
	color: #FFF;
	text-align:center;
	margin-top:10%;
}
.skin-green.sidebar-mini .content-wrapper .container .col-sm-6.col-md-2 {
	margin-left:30px;
}
.tile-orange {
	background-color:green;
}
.tile-red {
	background-color:#e51400;
}
.tile-blue {
	background-color:#2e8bcc;
}
.tile-green {
	background-color:#393;
}
.tile-wisteria {
	background-color:#8e44ad;
}
.tile:hover {
    opacity: 1;
}.skin-green.sidebar-mini .content-wrapper .panel.panel-default .panel-body .row .table {
	width: 96.5%;
	margin-left:15px;
}
